:root {
    --white: #fafafb;
    --black: #312c29;
    --black-background: #0e1226;
    --gray-dark: #494949;
    --gray-font: #dcddeb;
    --gray-500: #acaca9;
    --gray-600: #595858;
    --blue-footer: #22263c;
    --blue-dark: #312c29;
    --blue-light: #1d8df0;
    --blue-gradient: linear-gradient(90deg, #162e8f 0%, #2455da 100%);
}

*,
:after,
:before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;
    text-decoration: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html {
    height: 100%;
    min-height: 500px;
    font-family: "Helvetica", sans-serif;
    font-size: 62.5%;

    scroll-behavior: smooth;

    --background: var(--gray-font);
    --panel: var(--white);
    --text-color: var(--black);
    --minor-text-color: var(--gray-dark);
    --info: var(--blue-gradient);
    --svg: var(--gray-dark);

    --background-img: url("/img/background_light.png");
    --svg-day: url("/img/svg_sunny.svg");

    &[data-theme="dark"] {
        --background: var(--black-background);
        --panel: var(--gray-600);
        --text-color: var(--white);
        --minor-text-color: var(--white);
        --info: var(--blue-footer);
        --svg: var(--white);

        --background-img: url("/img/background_dark.png");
        --svg-day: url("/img/svg_night.svg");
    }

    &.transition,
    &.transition *,
    &.transition *:before,
    &.transition *:after {
        -webkit-transition: all 700ms !important;
        -moz-transition: all 700ms !important;
        -ms-transition: all 700ms !important;
        -o-transition: all 700ms !important;
        transition: all 700ms !important;
        transition-delay: 0 !important;
    }

    @media screen and (min-width: 2000px) {
        font-size: 80%;
    }

    @media screen and (max-width: 1366px) {
        font-size: 55%;
    }

    @media screen and (max-width: 1200px) {
        font-size: 50%;
    }

    @media screen and (max-width: 1040px) {
        font-size: 45%;
    }

    @media screen and (max-width: 450px) {
        font-size: 40%;
    }
}

.row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}
