@media screen and (max-width: 900px) {
    header {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 750px) {
    header {
        flex-direction: column !important;

        height: max-content;

        .name-theme {
            justify-content: center;
            gap: 6rem;
        }
    }
}
