@import "config";

body {
    height: 100vh;

    width: 100vw;

    background-color: var(--background);
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 10rem;
    header {
        height: 8rem;
        width: 100%;
        min-width: min-content;

        padding: 2rem 8rem;

        @media screen and (max-width: 900px) {
            padding: 2rem 4rem;
        }

        @media screen and (max-width: 750px) {
            flex-direction: column !important;

            height: 12.5rem;
        }

        p {
            font-size: 2.4rem;
            font-weight: bold;
            color: var(--text-color);
            white-space: nowrap;
        }

        .name-theme {
            width: 100%;
        }

        .input-local {
            width: 100%;
            max-width: 60rem;
            min-width: min-content;

            background-color: var(--white);
            border-radius: 2rem;

            z-index: 999;
            position: absolute;
            left: 50%;
            margin-left: -30rem;

            justify-content: space-between;

            box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(255, 255, 255, 0.1);

            @media screen and (max-width: 750px) {
                position: relative;
                left: 0;
                margin-left: 0;

                margin-top: 5rem;

                .name-theme {
                    justify-content: center;
                    gap: 6rem;
                }
            }

            .input-wrapper {
                width: 100%;
                input {
                    padding: 2rem 4rem;
                    padding-top: 2.3rem;
                    width: 100%;
                    // max-width: 38rem;
                    border-bottom: 0.3rem solid transparent;
                    border-radius: 2rem 0 0 2rem;

                    transition: all 300ms;

                    background-color: var(--white);

                    height: 4.4rem;

                    font-size: 1.8rem;
                    color: var(--black);

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        appearance: none;
                        margin: 0;
                    }

                    &[type="number"] {
                        appearance: textfield;
                    }

                    &:focus {
                        outline: none;
                        border-bottom: 0.3rem solid var(--blue-light);
                        transition: all 300ms !important;
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: relative;

                        width: 100px;
                        height: 100px;

                        background-color: #f00;
                    }
                }

                label[for="inputCEP"] {
                    &::before {
                        content: url("/img/icon_lupa.svg");
                        display: block;
                        position: relative;

                        width: 0rem;
                        height: 0rem;

                        left: 1.2rem;
                        bottom: -1.2rem;
                    }
                }
            }
            .select-wrapper {
                #selectLocal {
                    background-color: var(--white);

                    height: 4.4rem;

                    font-size: 1.8rem;
                    color: var(--black);

                    width: 14rem;

                    border-radius: 0 2rem 2rem 0;
                    border-bottom: 0.3rem solid transparent;
                    border-left: 0.3rem solid var(--gray-500);

                    padding: 0 1.8rem;

                    appearance: none;

                    transition: all 300ms;

                    background-image: url("/img/icon_select.svg");
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-position: 85%;
                    background-size: 1.8rem;

                    option {
                        border: none !important;
                        border-radius: 0.4rem !important;
                        background-color: var(--white);
                    }

                    &:focus {
                        outline: none;

                        border-bottom: 0.3rem solid var(--blue-light);

                        transition: all 300ms;
                    }
                }
            }
        }

        .toggle-theme {
            z-index: 999;

            input {
                height: 0;
                width: 0;

                display: none;
                visibility: hidden;

                -webkit-tap-highlight-color: transparent;
                -ms-touch-action: manipulation;
                touch-action: manipulation;

                &:checked + label {
                    background: var(--blue-footer);
                }

                &:checked + label:after {
                    left: calc(100% - 0.5rem);
                    transform: translateX(-100%);
                }
            }

            label {
                width: 8rem;
                height: 4rem;

                text-indent: -999.9rem;

                cursor: pointer;

                color: transparent;
                background: var(--white);

                display: block;
                position: relative;

                border-radius: 3rem;

                -webkit-tap-highlight-color: transparent;
                -ms-touch-action: manipulation;
                touch-action: manipulation;

                &:after {
                    content: "";
                    position: absolute;

                    width: 3rem;
                    height: 3rem;

                    top: 0.5rem;
                    left: 0.5rem;

                    background: var(--text-color);
                    border-radius: 100%;

                    transition: 0.3s;
                }
            }
        }
    }

    main {
        width: 100%;
        height: calc(100vh - 8rem);

        min-height: 50rem;

        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        .app-container {
            gap: 2rem;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 750px) {
                width: 70%;
                margin-top: 8rem;
            }

            .weather-container {
                width: 100%;
                max-width: 60rem;
                height: max-content;

                gap: 8rem;

                margin: auto;
                justify-content: space-between;

                .local-container {
                    h1 {
                        font-size: 3.6rem;
                        font-weight: normal;
                        color: var(--text-color);

                        strong {
                            color: var(--text-color);
                        }
                    }
                    h2 {
                        margin-left: 3.5rem;
                        font-size: 1.8rem;
                        color: var(--minor-text-color);
                    }

                    .local.row {
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-top: 1rem;

                        gap: 1rem;

                        svg {
                            width: 1.9rem;
                            height: 3rem;
                            margin-top: 0.5rem;
                            path {
                                fill: var(--text-color);
                            }
                            .sHover &:hover {
                                path {
                                    fill: #ff4646;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: 550px) {
                    margin-top: 4rem;

                    gap: 3rem !important;
                }

                .weather {
                    align-self: center;

                    justify-content: flex-start;
                    gap: 3rem;

                    .imgW-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        #imgW {
                            width: 20rem;
                            height: 20rem;
                            object-fit: contain;
                        }
                    }

                    h1 {
                        font-size: 8rem;
                        color: var(--text-color);

                        @media screen and (max-width: 400px) {
                            font-size: 6rem;
                        }
                    }

                    @media screen and (max-width: 750px) {
                        gap: 2rem;
                    }
                }

                .weather-info {
                    margin: auto;
                    height: 7.5rem;
                    width: 53rem;
                    padding: 1.6rem 3.5rem;

                    background: var(--info);
                    border-radius: 3rem;

                    justify-content: space-between;

                    * {
                        transition: all 300ms !important;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2 {
                            color: var(--white);
                            font-weight: normal;
                            font-size: 1.4rem;
                            margin-bottom: 0.5rem;
                        }

                        h3 {
                            font-weight: bold;
                            font-size: 1.8rem;
                            color: var(--white);
                        }

                        &:not(:last-child):after {
                            content: "";
                            display: block;
                            position: absolute;

                            margin-left: 18rem;
                            margin-bottom: 3rem;
                            height: 5rem;
                            width: 0.1rem;

                            background-color: var(--white);
                        }
                    }

                    @media screen and (max-width: 540px) {
                        width: max-content;
                        height: max-content;
                        margin-bottom: 5rem;
                        gap: 3rem;
                        padding: 4rem 3rem;

                        flex-direction: column;

                        h1 {
                            font-size: 2.5rem !important;
                        }

                        h2 {
                            font-size: 1.8rem !important;
                        }

                        div::after {
                            display: none !important;
                        }
                    }
                }
            }
            .svg-container {
                justify-content: center;
                width: 70rem;
                height: 45rem;
                .svg {
                    height: 40rem;
                    background-image: var(--svg-day);
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 750px) {
            height: max-content;
            background-size: auto;
        }
    }

    footer {
        height: 8rem;
        width: 100%;

        background-color: var(--panel);

        .row {
            width: 100%;
            height: 100%;
            justify-content: center;

            h1 {
                font-size: 2.4rem;
                color: var(--svg);
            }

            h2 {
                color: var(--svg);
                font-size: 2.4rem;
                margin-left: 5rem;
            }

            a {
                svg {
                    margin-left: 1rem;

                    path {
                        fill: var(--svg);
                        transition: all 300ms;
                    }
                    &:hover {
                        path {
                            filter: brightness(0.7);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        height: max-content;
        background-size: auto;
    }
}
