:root {
  --white: #fafafb;
  --black: #312c29;
  --black-background: #0e1226;
  --gray-dark: #494949;
  --gray-font: #dcddeb;
  --gray-500: #acaca9;
  --gray-600: #595858;
  --blue-footer: #22263c;
  --blue-dark: #312c29;
  --blue-gradient: linear-gradient(90deg, #162e8f 0%, #2455da 100%);
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html {
  height: 100%;
  min-height: 500px;
  font-family: "Helvetica", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  --background: var(--gray-font);
  --panel: var(--white);
  --text-color: var(--black);
  --minor-text-color: var(--gray-dark);
  --info: var(--blue-gradient);
  --svg: var(--gray-dark);
  --background-img: url("/img/background_light.png");
  --svg-day: url("/img/svg_sunny.svg");
}

html[data-theme="dark"] {
  --background: var(--black-background);
  --panel: var(--gray-600);
  --text-color: var(--white);
  --minor-text-color: var(--white);
  --info: var(--blue-footer);
  --svg: var(--white);
  --background-img: url("/img/background_dark.png");
  --svg-day: url("/img/svg_night.svg");
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 700ms !important;
  transition: all 700ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1040px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  background-color: var(--background);
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}

body header {
  height: 8rem;
  width: 100%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 2rem 8rem;
}

@media screen and (max-width: 900px) {
  body header {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 750px) {
  body header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 12.5rem;
  }
}

body header p {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--text-color);
  white-space: nowrap;
}

body header .name-theme {
  width: 100%;
}

body header .input-local {
  width: 100%;
  max-width: 60rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  background-color: var(--white);
  border-radius: 2rem;
  z-index: 999;
  position: absolute;
  left: 50%;
  margin-left: -30rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  body header .input-local {
    position: static;
    left: 0;
    margin-left: 0;
    margin-top: 5rem;
  }
  body header .input-local .name-theme {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6rem;
  }
}

body header .input-local input {
  padding: 1.4rem 4rem;
  width: 100%;
  max-width: 38rem;
  border-radius: 2rem 0 0 2rem;
}

body header .input-local input::-webkit-outer-spin-button, body header .input-local input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body header .input-local input[type="number"] {
  -moz-appearance: textfield;
}

body header .input-local input,
body header .input-local input + select {
  background-color: var(--white);
  height: 4rem;
  font-size: 1.8rem;
  color: var(--black);
}

body header .input-local input,
body header .input-local input + select:focus,
body header .input-local input + select,
body header .input-local input + select + select:focus {
  outline: none;
}

body header .input-local input::-webkit-input-placeholder,
body header .input-local input + select::-webkit-input-placeholder {
  color: var(--black);
}

body header .input-local input:-ms-input-placeholder,
body header .input-local input + select:-ms-input-placeholder {
  color: var(--black);
}

body header .input-local input::-ms-input-placeholder,
body header .input-local input + select::-ms-input-placeholder {
  color: var(--black);
}

body header .input-local input::placeholder,
body header .input-local input + select::placeholder {
  color: var(--black);
}

body header .input-local #selectLocal {
  width: 14rem;
  border-radius: 0 2rem 2rem 0;
  border-left: 0.3px solid var(--gray-500);
  padding-left: 1.8rem;
}

body header .input-local #selectLocal option {
  border: none !important;
  border-radius: 4px !important;
  background-color: var(--white);
}

body header .toggle-theme {
  z-index: 999;
}

body header .toggle-theme input {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
}

body header .toggle-theme input:checked + label {
  background: var(--blue-footer);
}

body header .toggle-theme input:checked + label:after {
  left: calc(100% - 0.5rem);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body header .toggle-theme label {
  width: 8rem;
  height: 4rem;
  text-indent: -999.9rem;
  cursor: pointer;
  color: transparent;
  background: var(--white);
  display: block;
  position: relative;
  border-radius: 3rem;
}

body header .toggle-theme label:after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  left: 0.5rem;
  background: var(--text-color);
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main {
  width: 100%;
  height: calc(100vh - 8rem);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .app-container {
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 750px) {
  body main .app-container {
    width: 70%;
    margin-top: 8rem;
  }
}

body main .app-container .weather-container {
  width: 100%;
  max-width: 60rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 8rem;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .app-container .weather-container .local-container h1 {
  font-size: 3.6rem;
  font-weight: normal;
  color: var(--text-color);
}

body main .app-container .weather-container .local-container h1 strong {
  color: var(--text-color);
}

body main .app-container .weather-container .local-container h2 {
  margin-left: 3.5rem;
  font-size: 1.8rem;
  color: var(--minor-text-color);
}

body main .app-container .weather-container .local-container .local.row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

body main .app-container .weather-container .local-container .local.row svg {
  width: 1.9rem;
  height: 3rem;
}

body main .app-container .weather-container .local-container .local.row svg path {
  fill: var(--text-color);
}

.sHover body main .app-container .weather-container .local-container .local.row svg:hover path {
  fill: #ff4646;
}

@media screen and (max-width: 550px) {
  body main .app-container .weather-container {
    margin-top: 4rem;
    gap: 3rem !important;
  }
}

body main .app-container .weather-container .weather {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3rem;
}

body main .app-container .weather-container .weather .imgW-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .app-container .weather-container .weather .imgW-container #imgW {
  width: 20rem;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}

body main .app-container .weather-container .weather h1 {
  font-size: 8rem;
  color: var(--text-color);
}

@media screen and (max-width: 400px) {
  body main .app-container .weather-container .weather h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 750px) {
  body main .app-container .weather-container .weather {
    gap: 2rem;
  }
}

body main .app-container .weather-container .weather-info {
  margin: auto;
  height: 7.5rem;
  width: 53rem;
  padding: 1.6rem 3.5rem;
  background: var(--info);
  border-radius: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .app-container .weather-container .weather-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .app-container .weather-container .weather-info div h2 {
  color: var(--white);
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

body main .app-container .weather-container .weather-info div h3 {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--white);
}

body main .app-container .weather-container .weather-info div:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  margin-left: 18rem;
  margin-bottom: 3rem;
  height: 5rem;
  width: 0.1rem;
  background-color: var(--white);
}

@media screen and (max-width: 540px) {
  body main .app-container .weather-container .weather-info {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 5rem;
    gap: 3rem;
    padding: 4rem 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .app-container .weather-container .weather-info h1 {
    font-size: 2.5rem !important;
  }
  body main .app-container .weather-container .weather-info h2 {
    font-size: 1.8rem !important;
  }
  body main .app-container .weather-container .weather-info div::after {
    display: none !important;
  }
}

body main .app-container .svg-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70rem;
  height: 45rem;
}

body main .app-container .svg-container .svg {
  height: 40rem;
  background-image: var(--svg-day);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 900px) {
  body main .app-container .svg-container {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  body main {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-size: auto;
  }
}

body footer {
  height: 8rem;
  width: 100%;
  background-color: var(--panel);
}

body footer .row {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .row h1 {
  font-size: 2.4rem;
  color: var(--svg);
}

body footer .row h2 {
  color: var(--svg);
  font-size: 2.4rem;
  margin-left: 5rem;
}

body footer .row a svg {
  margin-left: 1rem;
}

body footer .row a svg path {
  fill: var(--svg);
  -webkit-transition: all 300ms !important;
  transition: all 300ms !important;
}

body footer .row a svg:hover path {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

@media screen and (max-width: 750px) {
  body {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-size: auto;
  }
}
/*# sourceMappingURL=style.css.map */